.header {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 100;
  background: white;
  top: 0;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr 1fr;
  align-items: center;
  height: 4rem;
}

.logo {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
}

.logoImage {
  max-width: 40px;
  max-height: 40px;
}

.logo .title {
  display: inline-block;
  align-self: center;
  margin-left: 1rem;
  font-size: 1.235rem;
}

.login {
  color: #333;
  text-align: right;
}

.logout {
  color: #333;
  text-align: right;
  font-size: 0.735rem;
}
/* 
.login::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 17px;
  margin-left: 0.5rem;
  position: relative;
  top: -1px;
} */

@media (max-width: 40rem) {
  .logout {
    margin-left: 1.5rem;
  }
}
