.questionWrapper {
  background-color: #fff9de;
  border: 0.5rem solid #ffea8e;
  box-shadow: 0 0 1rem #ccc;
  padding: 1.5rem;
  border-radius: 0.3rem;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.send {
  max-width: 10px;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-bottom: 1rem;
  margin-left: 0.735rem;
  padding: 0;
}

.send svg {
  width: 2rem;
  padding: 0;
}

.answersLink {
  position: relative;
  top: -1rem;
  float: right;
  text-decoration: underline;
}
