* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  font-family: var(--type-first);
  padding-top: 4rem;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

.btn-link {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  text-decoration: underline;
  cursor: pointer;
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.mainContainer {
  margin-top: 2rem;
}

a {
  text-decoration: none;
  color: #333;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}

.appBody {
  flex: 1;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.title {
  margin-bottom: 2rem;
}
.subtitle {
  margin-bottom: 1rem;
}
