.wrapper {
  margin-bottom: 1rem;
  width: 80%;
}

.input {
  border: 1px solid #eee;
  width: 100%;
  display: block;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background: #eee;
  transition: 0.1s;
}

.input:focus,
.input:hover {
  outline: none;
  border-color: #fb1;
  background: white;
  box-shadow: 0 0 0 3px #fea;
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.erro {
  color: #f31;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
